{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Activity</title>
    <!--Styles-->
    <style type="text/css">
        body {
            padding: 20px;
            margin: 0;
        }
        .step {
            display: none;
        }
    </style>
</head>
<body>
<div id="loading">Loading...</div>
<div id="step1" class="step">
    Input 1: <input id="input-1" />
</div>
<div id="step2" class="step">
    Input 1: <input id="input-2" />
</div>

<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'require.js' %}"></script>
<script type="text/javascript">
        (function() {
            var config = {
                baseUrl: '/static/'
            };

            var dependencies = [
                'customActivity'
            ];

            require(config, dependencies);
        })();
    </script>
</body>
</html>