{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
There is noting to configure at the moment.

<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'require.js' %}"></script>
<script type="text/javascript">
    (function() {
        var config = {
            baseUrl: '/static/'
        };

        var dependencies = [
            'customEvent'
        ];

        require(config, dependencies);
    })();
</script>
</body>
</html>